
@{
    ViewData["Title"] = "Index";
}

@model List<ProductWithCategoryDTO>

<a class="btn btn-success" asp-controller="Products" asp-action="Save">Save Product</a>
<br />

<table class="table table-striped">
    <thead>
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Price</td>
            <td>Stock</td>
            <td>Category</td>
            <td>Created Date</td>
            <td>Action</td>
        </tr>
    </thead>   
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Price</td>
                <td>@item.Stock</td>
                <td>@item.Category.Name</td>
                <td>@item.CreatedDate</td>
                <td><a class="btn btn-warning" asp-action="Update" asp-controller="Products" asp-route-id="@item.Id">Update</a></td>
                <td><a class="btn btn-danger" asp-action="Delete" asp-controller="Products" asp-route-id="@item.Id">Delete</a></td>
            </tr>
        }
    </tbody>
</table>
